body {
    background-color: antiquewhite;
}

.product-card {
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    min-width: 200px;
    width: 200px;
    min-height: 403px;
    height: 403px;
    background-color: white;
    border-radius: 5px;
    margin: auto;
}

.product-card__img {
    margin: 30px 20px 45px 20px;
}

.product-card__description {
    margin: 0 15px;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
}

.product-card__article {
    margin-top: 6px;
    margin-left: 15px;
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 13px;
    display: flex;
    flex-direction: row;
}

.product-card__rating {
    margin: 15px 15px 0 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.stars {
    display: flex;
    flex-direction: row
}

.star {
    width: 13px;
    height: 12px;
    margin-right: 4px;
}

.star-active {
    background-image: url(img/star-full.svg);
}

.star-not-active {
    background-image: url(img/star-null.svg);
}

.rating-info {
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 13px;
    display: flex;
    flex-direction: row;
}

.product-card__cost {
    margin: 20px 15px 21px 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 13px;
    align-items: flex-end;
}

#product-card__cost {
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
}

.product-card__buy {
    display: flex;
    margin: 0 15px 15px 15px;
    background: #00ACDC;
    border: 1px solid #00ACDC;
    border-radius: 5px;
    box-sizing: border-box;
    width: 170px;
    height: 40px;
    color: white;
}

.product-card__buy-text {
    text-transform: uppercase;
    text-align: center;
    margin: auto;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    transition: .3s;
}

.product-card__buy:hover {
    background: #fff;
    color: #00ACDC;
    transition: .3s;
}

p {
    padding: 0;
    margin: 0;
}