:root {
    --bg-01: #f0bf3d;
    --bg-02: #ea412c;
    --bg-03: #ac4c4c;
    --bg-04: #333333;
    --text-color-01: #000000;
    --text-color-02: #ffffff;
}

.page-wrap {
    display: flex;
    flex-direction: column;
    width: 1000px;
    height: 100vh;
    margin: 0 auto;
}

.header {
    display: flex;
    width: 100%;
    flex: 0 0 100px;
}

.header__logo {
    flex: 0 0 100px;
    background-color: var(--bg-01);
    color: var(--text-color-01);
}

.header__nav {
    flex: 1 1 0;
    background-color: var(--bg-02);
    color: var (var(--text-color-01))
}

.main {
    display: flex;
    width: 100%;
    flex: 1 1 auto;
}

.main__content {
    display: flex;
    flex-direction: column;
    flex: 65 65 100px;
}

.main__content-line {
    display: flex;
    flex-direction: row;
    width: 100%;
    flex: 1 1 auto;
}

.main__news-feed {
    flex: 0 0 100px;
    background-color: var(--bg-03);
    color: var(--text-color-02);
}

.main__list {
    flex: 1 1 0;
    background-color: var(--bg-01);
    color: var(--text-color-01);
}

.footer {
    flex: 0 0 150px;
    background-color: var(--bg-01);
    color: var(--text-color-01);
}

.main__nav-bar {
    flex: 35 35 0;
    background-color: var(--bg-04);
    color: var(--text-color-02);
}

p {
    text-align: center;
}